.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 45%; /* Adjust the width as needed */
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}

.card-content {
  padding: 10px;
}

@media (max-width: 768px) {
  .card {
    width: 80%;
  }
}
